<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @calendar.content %>
</p>

<p>
  <strong>Location:</strong>
  <%= @calendar.location %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @calendar.start_date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar.start_time %>
</p>

<p>
  <strong>End date:</strong>
  <%= @calendar.end_date %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar.end_time %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @calendar.repeat %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @calendar.reminder %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
